body {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 13px;
}

#wrapper {
	width: 800px;
	background: #e6e6e6;
	margin: 0 auto;

}

header {
	color: #00Bfff;
	font-size: 28px;
	background: #f2f2f2;
	border-bottom: 1.5px dashed #b1b1b1;
	text-align: left;
	padding: 15px 15px;
	width: 90%;
	align: center;
	margin: 0 auto;
}

.inline, .Qinline {
	display: inline-block;
}

#basic-info {
	border-bottom: 1.5px dashed #b3b3b3;
	width: 93%;
	margin-left: 25px;
}

#info{
	width: 75%;
	padding: 10px 0px 10px 20px;
	display: inline-table;

}

#searchBox {
	width: 15%;
	padding-left: 10px;
	display: inline-table;
}

#searchBox input {
	border: 1px solid #c9c9c9;
	width: 125%;
	border-radius: 3px;
	height: 32px;
}

#searchBox button {
	border: none;
	position: relative;
	padding: 0;
	width: 20px;
	height: 20px;
	top: -26px;
	left: 112px;
}

#details {
	width: 95%;
	margin: 0 auto;
	border-bottom: 1.5px dashed #b3b3b3;
	padding-bottom: 40px;
}

#personal {
	width: 26%;
	margin: 0 auto;
	padding-left: 15px;
}

#personal input {
	height: 28px;
	width: 83%;
	border: 1px solid #c9c9c9;
	border-radius: 3px;
	margin: 7px 0px;
	padding-left: 5px;
}


#request {
	width: 66%;
	display: inline-table;
	float: right;
	margin-right: 40px;

}

#select {
	width: 69%;	
}

select {
	width: 95%;
	height: 35px;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	padding-left: 5px;
}

#number {
	width: 24%;	
}

input[type="number-of-rooms"]{
	height: 32px;
	border: 1px solid #c9c9c9;
	border-radius: 3px;
	padding-left: 5px;
}

#check {
	display: block;
}

input[type="date"]
{
	height: 32px;
	width: 98%;
	padding-left: 5px;
	border: 1px solid #c9c9c9;
}

#check-in {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#date {
	width: 50%;
	margin: 9px -13px 10px 0px;	
}

#rooms {
	margin: 15px 0px;
}

footer {

	text-align: end;
	padding: 30px 40px 90px 40px;
}

footer input {
	width: 160px;
	height: 30px;
	color: white;
	font-weight: bold;
    background-color: #00Bfff;
    border: none;
    border-radius: 3px; 
}