body, div, table, th, tr, td, p, nav, ul, .table-cell {
    margin: 0;
    padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font: 10px;
	font-family: Arial, sans-serif;
	color: #0b0b61
}

#calculator-wrapper {
	width: 400px;
	border: 1px solid grey;
	background-image: linear-gradient(bottom, rgb(217, 228, 241) 59%, rgb(237,244,252) 90%);
	background-image: -o-linear-gradient(bottom, rgb(217,228,241) 59%, rgb(237,244,252) 90%);
    background-image: -moz-linear-gradient(bottom, rgb(217,228,241) 59%, rgb(237,244,252) 90%);
    background-image: -webkit-linear-gradient(bottom, rgb(217,228,241) 59%, rgb(237,244,252) 90%);
    background-image: -ms-linear-gradient(bottom, rgb(217,228,241) 59%, rgb(237,244,252) 90%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.59, rgb(217,228,241)), color-stop(0.9, rgb(237,244,252)) );
	
}

nav {
	margin: 0px 0px 10px 0px; 
	padding: 3px 0px;
	border-bottom: 1px solid #B6BCCC;
	background: -webkit-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    background: -moz-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    background: -o-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    background: linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
}

nav > span{
	padding-left: 15px;
}

nav:hover {
	cursor: pointer;
}

input[type="text"] {
	height: 40px;
	padding-right: 10px;
	text-align: right;
	font-size: 1.5em;
	color: black;
	border-radius: 3px;
	background: none;
	font-family: Consolas;
	margin: 0px 8px;
	
}

.numbers-area {
	width: 371px;
	height: 41px;
	margin: 0px 10px;
    background: none;
    background-image: linear-gradient(bottom, rgb(255,255,255) 10%, rgb(229,239,251) 90%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 10%, rgb(229,239,251) 90%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 10%, rgb(229,239,251) 90%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 10%, rgb(229,239,251) 90%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 10%, rgb(229,239,251) 90%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(255,255,255)), color-stop(0.9, rgb(229,239,251)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5effb', endColorstr='#ffffff',GradientType=0 );
}
#numbers-area{
	width: 363px;
	margin: -3px -4px;
}
.input-box{
	border-radius: 3px;
	color: dark-blue;
	border: 1px solid #727f8d;
	padding: 2px;
}

#binary-box {
	border: 1px solid #727f8d;
	border-radius: 3px;
	font-family: Consolas;
	margin: 5px 13px 5px 10px;
	
}

#binary-box td:last-child {
	text-align: right;
}

#binary-box td {
	padding-left: 8px;
}

.output-row {
	color: #aaa3a3;
}

#left-side {
	float: left;
	width: 100px;	
	display: inline;
	list-style:none;
}

#numerical-panel, #byte-size {
	margin: 0px 13px 5px 9px;
	padding: 5px;
	border: 1px solid grey;
	border-radius: 3px;	
	font-size: 12px;
}



input[type="radio"] {
    -webkit-appearance:none;
    width:13px;
    height:13px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    background-color: white;
    box-shadow:0 0 5px 0px gray inset;
}


input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:50%;
}
input[type='radio']:checked:before {
    background:blue;
    background: radial-gradient(circle at 3px 2px, white 1%,  blue 50%);
}

button{
	height: 24px;
    width: 32px;
    border: 1px solid #8797AA;
    border-radius: 2px;
    -webkit-box-align: center;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
	margin: 0px 8px 9px -7px;
    color: #1C3759;
	font-size:12px;
	
}

#button-container{
	margin: 0px;
	padding: 0px;
}

#zero-button{
	width: 69px;
}

#double-button{
	height: 56px;
	position: absolute;
	margin-left: -3px;
}

#arrow{
	font-size:18px;
	font-weight: bold;
}

.button:not(:disabled), label{
	cursor: default;
}

button:not(:disabled):active{
	border: 1px solid #c29b28;
	background-image: linear-gradient(bottom, rgb(244,204,135) 51%, rgb(245,187,86) 50%, rgb(243,224,115) 7%);
    background-image: -o-linear-gradient(bottom, rgb(244,204,135) 51%, rgb(245,187,86) 50%, rgb(243,224,115) 7%);
    background-image: -moz-linear-gradient(bottom, rgb(244,204,135) 51%, rgb(245,187,86) 50%, rgb(243,224,115) 7%);
    background-image: -webkit-linear-gradient(bottom, rgb(244,204,135) 51%, rgb(245,187,86) 50%, rgb(243,224,115) 7%);
    background-image: -ms-linear-gradient(bottom, rgb(244,204,135) 51%, rgb(245,187,86) 50%, rgb(243,224,115) 7%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.51, rgb(244,204,135)), color-stop(0.5, rgb(245,187,86)), color-stop(0.07, rgb(243,224,115)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e073', endColorstr='#f4cc87',GradientType=0 );
}

button:not(:disabled):hover{
	border: 1px solid #ffdb00;
    background-image: linear-gradient(bottom, rgb(255,235,213) 51%, rgb(255,208,105) 50%, rgb(255,242,145) 7%);
    background-image: -o-linear-gradient(bottom, rgb(255,235,213) 51%, rgb(255,208,105) 50%, rgb(255,242,145) 7%);
    background-image: -moz-linear-gradient(bottom, rgb(255,235,213) 51%, rgb(255,208,105) 50%, rgb(255,242,145) 7%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,235,213) 51%, rgb(255,208,105) 50%, rgb(255,242,145) 7%);
    background-image: -ms-linear-gradient(bottom, rgb(255,235,213) 51%, rgb(255,208,105) 50%, rgb(255,242,145) 7%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.51, rgb(255,235,213)), color-stop(0.5, rgb(255,208,105)), color-stop(0.07, rgb(255,242,145)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffebd5', endColorstr='#fff291',GradientType=0 );
}

.gradient {
    font-size: 12px;
    font-weight: 500;
    background-image: linear-gradient(bottom, rgb(213,224,238) 50%, rgb(236,242,248) 50%);
    background-image: -o-linear-gradient(bottom, rgb(213,224,238) 50%, rgb(236,242,248) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(213,224,238) 50%, rgb(236,242,248) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(213,224,238) 50%, rgb(236,242,248) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(213,224,238) 50%, rgb(236,242,248) 50%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.5, rgb(213,224,238)), color-stop(0.5, rgb(236,242,248)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf2f8', endColorstr='#d5e0ee',GradientType=0 );
}

.light {
    font-size: 17px;
    background-image: linear-gradient(bottom, rgb(233,240,248) 50%, rgb(242,247,251) 50%);
    background-image: -o-linear-gradient(bottom, rgb(233,240,248) 50%, rgb(242,247,251) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(233,240,248) 50%, rgb(242,247,251) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(233,240,248) 50%, rgb(242,247,251) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(233,240,248) 50%, rgb(242,247,251) 50%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.5, rgb(233,240,248)), color-stop(0.5, rgb(242,247,251)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f7fb', endColorstr='#e9f0f8',GradientType=0 );
}

.not-usable, .dark {
    background-image: linear-gradient(bottom, rgb(217,228,241) 50%, rgb(217,228,241) 50%);
    background-image: -o-linear-gradient(bottom, rgb(217,228,241) 50%, rgb(217,228,241) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(217,228,241) 50%, rgb(217,228,241) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(217,228,241) 50%, rgb(217,228,241) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(217,228,241) 50%, rgb(217,228,241) 50%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.5, rgb(217,228,241)) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e4f1', endColorstr='#d9e4f1',GradientType=0 );
}